/* ---------------Box Sizing----------------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #ececec;
  font-weight: bold;
  font-family: Tahoma, Geneva, sans-serif;
  color: #fff;
  text-align: center;
  line-height: 24px;
}
#wrapper {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 2px 2px #000;
}
#navy {
  background-color: #001f3f;
  width: 370px;
  height: 150px;
  float:left;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  
}
#teal {
  background-color: #39cccc;
  width: 370px;
  height: 150px;
  float:right;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  
 
}
#blue {
  background-color: #0074d9;
  width: 370px;
  height: 150px;
  float: left;
  
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#aqua {
  background-color: #7fdbff;
  width: 370px;
  height: 150px;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#footer {
  background-color: #666;
  clear: both;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  color: #000;
  font-weight: normal;
  padding: 50px;
}
